{% extends "base.html" %}

{% block title %}Products list{% endblock %}
{% block content %}
    <h1>Posts list</h1>

<form action="{% url 'all_products' %}" method="get">
    <select name="category" id="category">

        {% for category in categories %}
        <option value="{{ category.pk }}">
            {{ category.name }}
        </option>
        {% endfor %}
    </select>
    <input type="submit"
           value="Search" class="btn btn-success" />
    {{ selected_category }}
    {%if selected_category == "0e4ec5e6-6a25-4d96-80b7-5d293fd06bca" %}Eto Books{%else%}Eto test{% endif %}

</form>
    {% for product in products %}

    <div>
            <h3>{{ product.name }}</h3>
            <p>
                {{ product.description|truncatewords:20 }}
                <img src="{{product.image.url}}">
                <a href="{% url 'product_details' product.pk %}">Read more</a>
            </p>
    </div>

    {% empty %}

        <p>No goods available...</p>

    {% endfor %}
{% endblock %}
