{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div id="product" data-post-id="{{ product.id }}">
        <a href="{% url 'all_products' %}"><- Products list</a>
        <h1> {{ product.name }}</h1>
        <p>{{ product.description }}</p>
    </div>

    <div id="comments">

    </div>

    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Comment">
        </form>
    {% endif %}

{% endblock %}